@page "/Stationeers"
@using TranslateTool.Shared.Data.Stationeers
<h3>Stationeers</h3>

<FluentButton @onclick="() => _localizations.Add(DateTime.UtcNow.ToFileTime().ToString(), new())">Add localization</FluentButton>
<FluentButton Color="goldenrod" @onclick="StateHasChanged">StateHasChanged</FluentButton>

<div class="flex">
    @foreach (var l in _localizations)
    {
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <Translate Localizations="@_localizations"
                       MyLanguage="@l.Key"
                       MainLocalization="@_mainLocalization"
                       SelectedWord="@_selectedWord"/>
        </div>
    }
</div>

